*.dvi
*.toc
*.log
*.xml
*.aux
*.bcf
*.run.xml
*.out
*/ltximg/
*/_minted-report/
*.pygstyle
*.vrb
*.snm
*.sty
*.blg
*.bbl
*.tex
/*.pygtex
*.pygtex
/skn/last-report/ltximg/org-ltximg_75b66b4de763e9bb04f1bb7020523a296c3c3f42.png
